<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
</head>
<body ng-app="myapp">

    <div class="box" ng-controller="shop">
        <div class="count">
            <button ng-click="delfn()">-</button>
            <input type="text" value="1" ng-model="num">
            <button ng-click="addfn()">+</button>
        </div>
        <div class="total">
            <span>合计：</span>
            <span ng-bind="num">1</span>
            <span>个</span>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script>
        var app = angular.module('myapp',[]);

        app.controller('shop', function($scope){
            $scope.num = 1;

            $scope.addfn = function(){
                $scope.num++;
            }
            $scope.delfn = function(){
                $scope.num--;
                if($scope.num < 1){
                    $scope.num = 1;
                    alert('最少选择1个');
                }
            }
        })
    </script>
</body>
</html>